@model DBSystem.Web.Models.ProductoListModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <b>Criterio</b>
    @Html.TextBoxFor(model=>model.Criterio)
    <input type="submit" name="btnBuscar" value="Buscar" />
    
    @(Html.Kendo().Grid(Model.Productos)    
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id);
            columns.Bound(p => p.Codigo);
            columns.Bound(p => p.Descripcion);
            columns.Bound(p => p.Categoria);
        })
    )
}
